html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Aboreto", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #00539f;
}
body {
  width: 300px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid rgba(53, 186, 44, 0.659);
}
h1 {
  margin: 0;
  padding: 0 100px 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
img {
 
  margin: 100px auto;
  width: 300px;
}
